@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


:root {
    --PrimaryColor: #2060c0;
    --SecondaryColor: #67a8fc;
    --TerciariColor: #2595c9;
}


* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Tilt Neon', sans-serif;
}
  
  .container {
    padding: 5px;
    width: 100vw;
  }
  
  .logo img{
    height: 1.2em;
  }
  
  nav {
    display: flex;
    align-items: flex-end;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 5px 0;
    display: block;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: var(--SecondaryColor);
  }

.menu div {
    display: flex;
}
  
  @media screen and (max-width: 768px) {
    nav {
        align-items: center;
    }

    .menu-toggle {
        margin-left: 20em;
    }

    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 99999;
    }

    .menu.show-menu {
        display: flex;
    }
  
    .menu li {
      margin-right: 0;
      text-align: center;
      padding: 10px;
    }
  
    .menu-toggle {
      display: flex;
    }
  }



.logo{
    font-size: 50px;
    font-weight: normal;
}

.formButton {
    background-color: var(--PrimaryColor);
    border-radius: 15px;
    margin: 0 10px;
}

.formButton a {
    transition: .5s;
}

.formButton:hover a {
    color: black;
}

header nav a {
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    transition: .5s;
}

.painel nav a:hover {
    text-decoration: underline;
    color: var(--SecondaryColor);
}

.painel > div {
    background-image: url(Img/headerbackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25em;
    padding: 2em;
    color: white;
    font-family: 'Tilt Neon', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.painel > div > h2 {
    font-size: 5vw;
    
}

.painel > div > a {
    cursor: pointer;
    font-size: 1.8em;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
    transform: .5s;
    z-index: 999;
}

.painel > div > a:hover {
    color: var(--PrimaryColor);
    border-bottom: 1px solid var(--PrimaryColor);
}

.painel > div > img {
    position: absolute;
    top: 245px;
}

body{
    background-color: var(--TerciariColor);
}

main{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.optionsMenu{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.optionsMenu .card-img-top{
    border-radius: 100%;
}

.optionsMenu img {
    width: 10em;
    transition: .1s;
}

.optionsMenu img:hover {
    border: 1px solid white;
    padding: .2em;
}


.optionsMenu .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
}

.optionsMenu h5 {
    color: white;
}

.servicesContent {
    align-self: flex-start;
    width: 100%;
}

.servicesContent h1 {
    font-weight: bold;
    border-bottom: 2px solid var(--PrimaryColor);
    color: white;

}

.servicesContent > div {
    display: flex;
    float: none;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.servicesContent > div > div {
    margin: .6em;
    flex: 1 1 300px;
}

.servicesContent a {
    overflow: hidden;
}

.servicesContent a img{
    height: 12em;
    object-fit: cover;
    transition: .5s;
}
.servicesContent a:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}
.AnimalsContent{
    margin-top: 3vh;
}
.AnimalsContent img {
    height: 70vh;
    width: 80vw !important;
    object-fit: cover !important ;

}

.AnimalsContent h1 {
    font-weight: bold;
    border-bottom: 2px solid var(--PrimaryColor);
    color: white;
}

.AnimalsContent a {
    border: 1px solid var(--PrimaryColor);
    margin: 0 auto;
    width: 12em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--PrimaryColor);
    color: white;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}


footer {
    background-color: #212529;
    color: white;
}

#aboutUs > div > img {
    height: 8em;
}

#aboutUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 15em;
}

#aboutUs > div {
    display: flex;
    flex-direction: column;
}

#aboutUs > div > a {
    color: white;
}
#aboutUs > div > a:hover {
    color: var(--SecondaryColor);
}

