@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background-color: #8ec5da;
    --primary-color: #85C0D5;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxForm {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
}


.imgContent img {
    height: 34.5em;
    border-radius: 15px 0px 0px 15px;
}

.formContent {
    height: 35em;
    background-color: white;
    width: 30em;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContent form {
    margin-bottom: .5em;
}

.formContent form > div {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.formContent form > div > div {
    display: flex;
    flex-direction: column;
}

.formContent form > div > div > label {
    font-size: 18px;
    margin-left: .7em;
}

.formContent form > div > div > input {
    width: 25em;
    padding: .8em 1.2em;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.288);
}

.formContent form > div > div > p {
    font-size: 14px;
    color: red;
    opacity: 0;
}

.dateContent {
    flex-direction: row;
}

.dateContent label {
    font-size: 10px;
    margin-left: .7em;
}

.dateContent input {
    width: 25em;
    padding: .8em 1.2em;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.288);
}

.dateContent p {
    font-size: 14px;
    color: red;
    opacity: 0;
}

hr {
    position: relative;
    width: 85%;
    top: 10px;
}


.btnContent button {
    cursor: pointer;
    font-size: 18px;
    width: 15em;
    margin: 0 auto;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    padding: .4em 1.7em;
    color: white;
    
    transition: .5s;
    font-weight: bolder;
}

.btnContent button:hover {
    background-color: white;
    color: var(--primary-color);
}

.linkContent a {
    position: relative;
    top: 20px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(68, 68, 253);
}